.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.example-paciente-dialog-1 {
    width: 90%;
}

.example-paciente-dialog-2 {
    width: 10%;
}